@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Adam's 5 Day Weather Forecast App</h1>
    <p class="lead">I have built this MVC app with with ASP.NET Core</p>
</div>
